.main-container {
  min-height: 90vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container > div:first-child {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}

.main-hook {
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
}

.main-hook h1 {
  font-size: 52px;
  margin-bottom: 20px;
  color: #000000;
}

.button {
  padding: 10px 24px;
  font-size: 16px;
  margin: 10px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
